
body
{
  background-color: #404040;
  font-family: Arial, sans-serif;
  width:90%;
  margin: auto;
  display:flex;
  flex-direction: column;
  justify-content:  space-between;
}

#entete {
  background-color: white;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.btn_connex {
  display: flex;
  align-items: flex-end;
}

input[type="button"] {
    width: auto;
    color: white;
    background-color: gray;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
}

#bloc1 {
  display: block;
  float: left;
}

#bloc1 p {
  margin: 1em;
  margin-left: 0em;
}

#blocImages {
  display: block;
}

img {
  margin: 20px;
}

#logo {
  display: block;
  margin: 0px;
  float: left;
}
