h1 {
  text-align: center;

}

body {
  background-color: #404040;
  color : white;
}
 fieldset {

 }

 label

 {
    display: block;
    width: 150px;
    float: left;
 }
select {
  width: 218px;
}

.inputFile
{

}

.inputText
{

}
